language: perl
perl:
  - "5.8"
  - "5.10"
  - "5.12"
  - "5.14"
  - "5.16"
  - "5.18"

before_install:
  - sudo apt-get install automake libxmu-dev libxmu6 libxmu-headers libxmuu1 xpra xserver-xorg-video-dummy freeglut3-dev
  - "xpra --xvfb=\"Xorg +extension GLX -config `pwd`/dummy.xorg.conf -logfile ${HOME}/.xpra/xorg.log\"  start :9"

install:
  - export DISPLAY=:9
  - ps -ef|grep xpra
  - glxinfo
  - perl Makefile.PL verbose interface=FREEGLUT
  - make
  - sudo make install

script:
  - prove -v

notifications:
  irc: "irc.perl.org#sdl-xxx"
